@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}  

body {
    position: relative;
    padding: 10px;
    background-image: url('fundo-madeira.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 309px;
    height: 629px;
    background: url('frame-iphone.png') no-repeat;
    background-size: 100% 100%;

    
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 265px;
    height: 470px;

}

#redes-sociais > a > img {
    position: relative;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.429);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.776);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.749);
    transition: transform 0.3s, border .6s;
}